{% extends "base.html" %}
{% block title %}Delete {{ cohort.name }}{% endblock %}

{% block content %}
    {% include "components/contacts/contacts_nav.html" %}
    
    <article>
        <header>
            <h1>Confirm Cohort Deletion</h1>
        </header>
        
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete <strong>{{ cohort.name }}</strong> and its {{ cohort.contacts.count }} contacts?</p>
            <div role="group">
                <button type="submit" class="danger">Confirm Delete</button>
                <a href="{% url 'cohort_detail' cohort.id %}" role="button" class="outline">Cancel</a>
            </div>
        </form>
    </article>
{% endblock %}