{% extends "base.html" %}
{% block title %}Add Contacts to {{ contact_list.name }}{% endblock %}

{% block content %}
    {% include "components/contacts/contacts_nav.html" %}
    
    <article>
        <header>
            <h1>Add Contacts to {{ contact_list.name }}</h1>
        </header>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="grid">
                {% for contact in form.contacts %}
                <div>
                    <label>
                        <input type="checkbox" name="contacts" value="{{ contact.data.value }}">
                        {{ contact.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
            
            <div role="group">
                <button type="submit">Add Selected Contacts</button>
                <a href="{% url 'contact_list_detail' contact_list.id %}" role="button">Cancel</a>
            </div>
        </form>
    </article>
{% endblock %}