{% extends "base.html" %}
{% block title %}{{ title|default:"Contact List Form" }}{% endblock %}

{% block content %}
    {% include "components/contacts/contacts_nav.html" %}
    
    <article>
        <header>
            <h1>{{ title }}</h1>
        </header>
        
        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                <p role="alert">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            
            <div role="group">
                <button type="submit">{{ submit_text }}</button>
                <a href="{% if contact_list %}{% url 'contact_list_detail' contact_list.id %}{% else %}{% url 'contact_list_list' %}{% endif %}" role="button" class="outline">Cancel</a>
            </div>
        </form>
    </article>
{% endblock %}