{% extends 'base.html' %}
{% block content %}
<div class="grid">
    <div>
        <article>
            <header>
                <h4>
                    <i class="ph ph-buildings"></i> Companies
                </h4>
            </header>
            {{ companies_count }} companies
            <footer>
                <a href="{% url 'company_list' %}">View all</a>
            </footer>
        </article>
    </div>
    <div>
        <article>
            <header>
                <h4>
                    <i class="ph ph-users-three"></i> Contacts
                </h4>
            </header>
            {{ contacts_count }} contacts
            <footer>
                <a href="{% url 'contact_list' %}">View all</a>
            </footer>
        </article>
    </div>
    <div>
        <article>
            <header>
                <h4>
                    <i class="ph ph-handshake"></i> Deals
                </h4>
            </header>
            {{ deals_count }} deals
            <footer>
                <a href="{% url 'pipeline' %}">View all</a>
            </footer>
        </article>
    </div>
</div>
{% endblock content %}