{% extends "base.html" %}
{% block title %}{{ title|default:"Company Form" }}{% endblock %}

{% block content %}
    {% include "components/companies/companies_nav.html" %}
    
    <article>
        <header>
            <h1>{{ title }}</h1>
        </header>
        
        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p role="alert">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            
            <button type="submit">{{ submit_text }}</button>
        </form>
    </article>
{% endblock %}