{% extends "base.html" %}
{% block title %}Delete {{ company.name }}{% endblock %}

{% block content %}
    {% include "components/companies/companies_nav.html" %}
    
    <article>
        <header>
            <h1>Confirm Delete</h1>
        </header>
        
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete <strong>{{ company.name }}</strong>?</p>
            <button type="submit" class="danger">Confirm Delete</button>
            <a href="{% url 'company_detail' company.id %}" role="button" class="outline">Cancel</a>
        </form>
    </article>
{% endblock %}