{% extends "base.html" %}
{% block title %}Add Companies to {{ company_list.name }}{% endblock %}

{% block content %}
    {% include "components/companies/companies_nav.html" %}
    
    <article>
        <header>
            <h1>Add Companies to {{ company_list.name }}</h1>
        </header>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="grid">
                {% for company in form.companies %}
                <div>
                    <label>
                        <input type="checkbox" name="companies" value="{{ company.data.value }}">
                        {{ company.choice_label }}
                    </label>
                </div>
                {% endfor %}
            </div>
            
            <button type="submit">Add Selected Companies</button>
            <a href="{% url 'company_list_detail' company_list.id %}" role="button">Cancel</a>
        </form>
    </article>
{% endblock %}