{% extends "base.html" %}
{% block title %}Companies{% endblock %}

{% block content %}
    {% include "components/companies/companies_nav.html" %}
    
    <article>
        <header>
            <hgroup>
                <h1>Companies</h1>
                <h2>Manage your organization database</h2>
            </hgroup>
            
            <form hx-get="{% url 'company_list_results' %}" hx-target="#results" hx-trigger="change, keyup">
                <div class="grid">
                    {% for field in form %}
                        <div>
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
            </form>
        </header>
        
        <div id="results">
            {% include "components/companies/company_results.html" %}
        </div>
    </article>
{% endblock %}