<nav class="secondary-nav">
    <ul>
        <li><a href="{% url 'contact_list' %}" class="secondary"><i class="ph ph-users-three"></i> All Contacts</a></li>
        <li><a href="{% url 'contact_create' %}" class="secondary"><i class="ph ph-plus"></i> Add Contact</a></li>
        <li><a href="{% url 'contact_list_list' %}" class="secondary"><i class="ph ph-list"></i> Contact Lists</a></li>
        <li><a href="{% url 'cohort_list' %}" class="secondary"><i class="ph ph-users"></i> Cohorts</a></li>
    </ul>
</nav>