<nav class="secondary-nav">
    <ul>
        <li><a href="{% url 'finder_dashboard' %}" class="secondary"><i class="ph ph-gauge"></i> Dashboard</a></li>
        <li><a href="{% url 'company_search_list' %}" class="secondary"><i class="ph ph-buildings"></i> Company Searches</a></li>
        <li><a href="{% url 'contact_search_list' %}" class="secondary"><i class="ph ph-users-three"></i> Contact Searches</a></li>
        <li><a href="{% url 'zerobounce_validation_list' %}" class="secondary"><i class="ph ph-check-circle"></i> Email Validations</a></li>
    </ul>
</nav>