<nav class="secondary-nav">
    <ul>
        <li><a href="{% url 'company_list' %}" class="secondary"><i class="ph ph-buildings"></i> All Companies</a></li>
        <li><a href="{% url 'company_create' %}" class="secondary"><i class="ph ph-plus"></i> Add Company</a></li>
        <li><a href="{% url 'company_list_list' %}" class="secondary"><i class="ph ph-list"></i> Company Lists</a></li>
        <li><a href="{% url 'serpapi_search' %}" class="secondary"><i class="ph ph-magnifying-glass"></i> Company Search</a></li>
    </ul>
</nav>